@use './partials/reset';

@use './partials/palette' as *;

* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.button {
    background-color: $denim;
    color: white;
    font-size: 14px;

    text-transform: uppercase;

    padding: 13px 29px;
    border-radius: 999px;
}