@use './partials/reset';

@use './partials/palette' as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    background-color: $lima;
}

.container {
    max-width: 1300px;
    margin: 0 auto;

    //border: 1px dotted tomato; //debug rule
}

.button {
    background-color: $denim;
    color: white;
    font-size: 14px;
    font-weight: 700;

    text-transform: uppercase;

    padding: 13px 29px;
    border-radius: 999px;
    width: fit-content;

    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: lighten($denim, 20%);
}

h6 {
    color: $smallTitle;
    font-size: 16px;
    text-transform: uppercase;
}

h5 {
    color: $denim;
    font-size: 28px;
}

h4 {
    color: $lima;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
}

.fade-in {
    opacity: 1 !important;
    transform: translateX(0) !important;
    transform: translateY(0) !important;

}