$lima: #69bf14;
$denim: #1975c0;
$silver-chalice: #afaeae;
$shark: #262727;
$dove-gray: #6b6b6b;
$sungio: #dd7069;
$hippie-green: #4c8d53;
$mercury: #e9e9e9;
$barley-corn: #9ba05a;
$beaver: #86695a;
$oslo-gray: #93989b;
$river-bed: #93989b;
$mantis: #8fce53;

$smallTitle: #585858;
$title: #111111;

$sectionBg: #f2f5f8;

$cardS5Border: #5aa511;